.c2{
    float:right;
  
   
    position:absolute;
}
.c3{
    width:50%;
color:yellow;
margin-left: 400px;;
      
    text-align: center;
    position:relative;
  
}
.c1{
    
    height:100vh;
    
}